{{template "header.html"}}
{{template "navbar.html" "index"}}

    <div class="container">
      <br />
      <div class="row justify-content-center">
        <h1 class="col-4">Hola {{.User}}!!</h1>
      </div>
      {{if .Admin}}
      <br />
      <div class="row justify-content-center">
	  <p>Parece que eres una admin.<br />
	  <br />
	  <em>Un gran poder conlleva una gran responsabilidad</em></p>
      </div>
      {{end}}
    </div>

{{template "footer.html"}}
