<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/img/sd_nb.svg" width="30" height="30" /> lowry</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{if eq . "password"}}active{{end}}">
        <a class="nav-link" href="/password/">Contraseña</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="/logout/" method="post">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Salir</button>
    </form>
  </div>
</nav>
